# Postgres Database
POSTGRES_HOST="localhost"
POSTGRES_USER="root"
POSTGRES_PASSWORD="mysecretpassword"
POSTGRES_DB="local"

# Minio object storage
MINIO_ROOT_USER="minio"
MINIO_ROOT_PASSWORD="mysecretpassword"

MINIO_ENDPOINT="http://localhost:9000"
MINIO_ACCESS_KEY="minio"
MINIO_SECRET_KEY="mysecretpassword"

AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
