POSTGRES_HOST="localhost"
POSTGRES_USER="root"
POSTGRES_PASSWORD="mysecretpassword"
POSTGRES_DB="foodhub"

BETTER_AUTH_SECRET=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ROOT_USER="foodhub"
MINIO_ROOT_PASSWORD="mysecretpassword"
MINIO_BUCKET_NAME="foodhub"
